@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #131313;
  color: #e2e8f0;
  font-family: 'Inter', sans-serif;
  height: 100%;
  margin: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;
}
